{% extends 'base.html' %}
{% block head %} Home Page {% endblock %}


{% block content %}
<h2>{{ project_active.title }}</h2>

{% if project_active == -1 %}
<h2>Looks like there are no active projects. Go ahead and add a <a href="/project_page">new project</a>!</h2>
{% else %}
{% for task in project_active.tasks %}

<div class="row">
    <div class="col-sm-4">
        {% if task.done %} <strike> {{ task.title }} </strike>
        {% else %} {{ task.title }}
        {% endif %}
    </div>
    <div class="col-sm-4">
        {{ task.due_date }}
        <a href="/done/{{ task.id }}" class="btn btn-primary"><i class="fas fa-check"></i></a>
        <a href="/delete/{{ task.id }}" class="btn btn-primary"><i class="fas fa-trash-alt"></i></a>
    </div>
</div>
{% endfor %}

<div id="input_wrapper">
    <form action="/task/{{ projects[0].id }}" method="POST">
        <h2>Add new task</h2>
        <div class="form-group">
          <input type="text" class="form-control" id="task_title" aria-describedby="titleHelp" name="title" placeholder="Enter task title">
        </div>
        <div class="form-group">
          <input type="date" class="form-control" id="date_picker" placeholder="Due Date" name="due_date">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="task_tag" name="tag" placeholder="Tag">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endif %}
{% endblock %}